.project-layout {
	display: flex;
	flex-direction: column;

	.highlighted {
		p {
			@include animation(appear ease 1000ms, underline ease 1000ms 1000ms forwards);
			background-image: linear-gradient(to right, currentColor, $accent-color);
			background-position: 0 100%;
			background-repeat: no-repeat;
			background-size: 0;
			font-size: 1.5em;

			.different-letter {
				@include animation(rotate-letter ease 1500ms forwards);
				color: $accent-color;
				display: inline-block;
			}
		}
	}

	.project-list {
		list-style: none;
		margin: 0;
		padding: 0;
		word-break: break-all;

		.project-list-title {
			color: $accent-color;
		}

		.project-list-icon {
			height: 5em;
			margin-right: 1em;
			width: 5em;
		}

		:where(.project-list-deploy, .project-list-description, .project-list-repository) {
			font-size: .9em;

			a {
				color: $accent-color;
				font-family: "RethinkSans-Italic", sans-serif;
				transition-duration: 300ms;

				&:hover {
					opacity: .6;

					.project-list-url-icon {
						@include transform(translate(5px, -5px));
						transition: transform 150ms ease-in-out;
					}
				}

				&:active {
					opacity: 1;
				}
			}
		}

		.project-list-url-icon {
			color: $white;
			font-style: normal;
			margin-left: 5px;
		}

		.bold {
			font-family: "RethinkSans-Bold", sans-serif;
		}

		.adjustment {
			display: flex;
			flex-direction: row;
		}

		.links {
			display: flex;
			flex-direction: column;
		}
	}
}

@media (max-width: 615px) {
	.project-layout {
		.highlighted {
			display: flex;
			justify-content: center;
		}

		.project-list {
			font-size: 14px;
		}

		.project-list-title {
			margin-top: 2em;
			text-align: center;
		}
	}
}

@include keyframes(appear) {
	from {
		@include transform(translateX(45vw));
	}

	to {
		@include transform(translateX(0));
	}
}

@include keyframes(underline) {
	from {
		background-size: 0 2px;
	}

	to {
		background-size: 100vw 2px;
	}
}

@include keyframes(rotate-letter) {
	from {
		@include transform(rotate(0));
	}

	to {
		@include transform(rotate(310deg));
	}
}

@include keyframes(fade-projects) {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
