.project-layout {
	display: flex;
	flex-direction: column;

	.highlighted {
		font-size: 1.5em;
		font-family: "RethinkSans-ExtraBold", sans-serif;

		.different-letter {
			@include transform(rotate(323deg));
			color: $accent-color;
			display: inline-block;
		}
	}

	.project-list {
		list-style: none;
		margin: 0;
		padding: 0;
		word-break: break-all;

		.project-list-title {
			color: $accent-color;
		}

		.project-list-icon {
			height: 5em;
			margin-right: 1em;
			width: 5em;
		}

		:is(.project-list-deploy, .project-list-description, .project-list-repository) {
			font-size: .9em;

			a {
				color: $accent-color;
				font-family: "RethinkSans-Italic", sans-serif;
				transition-duration: 300ms;

				&:hover {
					opacity: .6;

					.project-list-url-icon {
						@include transform(translate(5px, -5px));
						transition: transform 150ms ease-in-out;
					}
				}

				&:active {
					opacity: 1;
				}
			}
		}

		.project-list-url-icon {
			color: $white;
			font-style: normal;
			margin-left: 5px;
		}

		.bold {
			font-family: "RethinkSans-Bold", sans-serif;
		}

		.adjustment {
			display: flex;
			flex-direction: row;
		}

		.links {
			display: flex;
			flex-direction: column;
		}
	}
}

@media (max-width: 615px) {
	.project-layout {
		.highlighted {
			display: flex;
			justify-content: center;
		}

		.project-list {
			font-size: 14px;
		}

		.project-list-title {
			margin-top: 2em;
			text-align: center;
		}
	}
}
