.contact-layout {
	display: flex;
	flex-direction: column;

	.contact {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;

		div {
			margin-bottom: 2em;
			word-break: break-all;

			.contact-title {
				text-align: center;
			}

			.contact-link {
				color: $accent-color;
				font-family: "RethinkSans-Italic", sans-serif;
				margin-left: .5em;
				text-decoration: none;
				transition-duration: 300ms;

				&:hover {
					opacity: .6;
				}

				&:active {
					opacity: 1;
				}
			}

			.icon {
				height: 2em;
				vertical-align: middle;
				width: 2em;
			}
		}
	}
}
