.footer {
	background-color: #454545;
	border-radius: 0.075em;
	color: $white;
	cursor: default;
	display: flex;
	font-family: "RethinkSans-Regular", sans-serif;
	justify-content: center;
	margin-top: 2em;

	.footer-text {
		font-size: 14px;
		line-height: 1.5em;
		padding: .5em;
		text-align: center;

		.footer-link {
			color: $accent-color;
			font-family: "RethinkSans-Bold", sans-serif;
			text-decoration: none;
			transition-duration: 300ms;

			&:hover {
				opacity: .6;
			}
		}
	}
}

@media (max-width: 615px) {
	.footer {
		.footer-text {
			font-size: 10px;
		}
	}
}
