.navbar {
	background-color: #454545;
	border-radius: 0.075em;
	cursor: default;
	display: flex;
	font-family: "RethinkSans-Medium", sans-serif;
	justify-content: space-around;
	padding: 1em 0;

	.link {
		a {
			color: $accent-color;
			margin: 0 1em;
			text-decoration: none;
			transition-duration: 300ms;

			.nav-link {
				transition-duration: 200ms;

				&:hover {
					color: $white;
				}
			}
		}
	}

	.logo .icon {
		color: $accent-color;
		height: 1.6em;
		margin-right: 0.5em;
		vertical-align: middle;
		width: 1.6em;
	}

	.logo {
		p {
			color: $white;
			display: inline;
			font-size: 1.2em;
			vertical-align: middle;

			.pipe {
				color: $accent-color;
				margin: 0 .5em;

				&::after {
					content: "|";
				}
			}
		}
	}
}

@media (min-width: 615px) {
	.navbar {
		.hamburger-menu {
			display: none;
		}
	}
}

@media (max-width: 615px) {
	.link {
		display: none;
	}

	.blur {
		@include backdrop-fiter(blur(5px));
		background: #00000080;
		height: 100vh;
		left: 0;
		pointer-events: none;
		position: fixed;
		top: 0;
		width: 100vw;
		z-index: 5;
	}

	.navbar {
		.logo {
			p {
				font-size: 1em;
			}
		}

		.hamburger-menu {
			cursor: pointer;
			display: block;

			:is(.close-icon, .hamburger-icon) {
				color: $accent-color;
				height: 1.5em;
				transition-duration: 300ms;
				vertical-align: middle;
				width: 1.5em;

				&:hover {
					color: $white;
				}
			}
		}

		.aside-navbar {
			background-color: #2d2d2d;
			border-left: 5px dashed #454545;
			cursor: default;
			display: flex;
			flex-direction: column;
			height: 100vh;
			justify-content: center;
			padding: 10px;
			position: fixed;
			right: 0;
			top: 0;
			width: 35vw;
			z-index: 10;

			.aside-icon {
				cursor: pointer;
				position: absolute;
				right: 1em;
				top: 1em;
			}

			a {
				color: $accent-color;
				margin: 2em 0;
				text-align: center;
				text-decoration: none;
				transition-duration: 300ms;

				&:hover {
					color: $white;
				}
			}
		}
	}
}
