.languages-title {
	text-align: center;
}

.languages-slider {
	align-items: center;
	background-color: #ffffff15;
	border-radius: 0.075em;
	display: flex;
	height: 15vh;
	justify-content: center;

	.languages-images {
		height: 8vh;
		object-fit: contain;
		position: relative;
	}
}
