//? Variables
$accent-color: #16cec8;
$white: #ffffff;

//? Mixins
@mixin filter($property) {
	-ms-filter: $property;
	-webkit-filter: $property;
	filter: $property;
}

@mixin backdrop-fiter($property) {
	-webkit-backdrop-filter: $property;
	backdrop-filter: $property;
}

@mixin transform($property) {
	-moz-transform: $property;
	-ms-transform: $property;
	-o-transform: $property;
	-webkit-transform: $property;
	transform: $property;
}

@mixin animation($property) {
	-moz-animation: $property;
	-ms-animation: $property;
	-o-animation: $property;
	-webkit-animation: $property;
	animation: $property;
}

@mixin keyframes($animation) {
	@-moz-keyframes #{$animation} {
		@content;
	}

	@-ms-keyframes #{$animation} {
		@content;
	}

	@-o-keyframes #{$animation} {
		@content;
	}

	@-webkit-keyframes #{$animation} {
		@content;
	}

	@keyframes #{$animation} {
		@content;
	}
}
